{% block title %}Signup{% endblock title %}

{% block content %}
<div class="grid_5">
<form action="" method="post">
    {% csrf_token %}
        {% for field in sform %}
        <p>
        {{ field.errors }}
        {{ field.label_tag|title }}: {{ field }}
        </p>
        {% endfor %}

        {% for field in pform %}
        <p>
        {{ field.label_tag|title }}: {{ field }}
        </p>
        {% endfor %}
        <input type="submit" class="button" value="Signup" />
    </form>
</div>
{% endblock content %}

