{% extends 'profiles/profile_base.html' %}

{% block title %}Change Email{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}javascript/validate/email_form.js" type="text/javascript"></script>

{% endblock scripts %}

{% block profile_content %}

<div class="grid_7">
<form id="emailResetForm" action="" method="post">
    <h3>Change Email Address</h3>
    {% csrf_token %}
    {% for field in form %}
        <div class="form_row">
            <label for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
        <input type="submit" class="button" value="Change email" />
</form>
</div>
{% endblock profile_content %}
