{% extends "base.html" %}
{% block title %}Password Reset{% endblock title %}
{% block scripts %}
<script src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
<script type="text/javascript">
$().ready(function() {
    // Validates the signup form
    $("#passwordResetForm").validate({
        rules: {
                email: {
                        required: true,
                        email: true
                }    
        },
        messages: {
                    email: {    
                            required: "You cannot leave this field blank",
                            email: "Please insert a valid email"
                    }
        }
    });
});
</script>

{% endblock scripts %}


{% block content %}
<div class="grid_7">
<form id="passwordResetForm" action="" method="post">
    <h3>Reset Password</h3>
    {% csrf_token %}
    {% for field in form %}
        <div class="form_row">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
        <input type="submit" class="button" value="Send Password" />
</form>
</div>
{% endblock %}
