{% extends 'profiles/profile_base.html' %}

{% block title %}Reset Password | RecogType{% endblock %}

{% block profile_content %}

<div class="grid_4 push_2">
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
    <legend class="base_text">Reset Password</legend>
    {% for field in form %}
        <div class="form_row base_text">
            <div class="label"><label for="{{ field.name }}">{{ field.label }}:</div>
            {{ field }}
        </div>
    {% endfor %}
        <div class="submit">
            <input type="submit" value="Send Password" />
        </div>
    </fieldset>
</form>
</div>

{% endblock profile_content %}
