{% extends "base.html" %}
{% block title %}Password Reset | RecogType{% endblock title %}


{% block content %}

<div class="grid_4 push_4">
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend class="base_text">Reset Password</legend>
        {% for field in form %}
            <div class="form_row base_text">
                <div class="label"><label>{{ field.label }}</label></div>
                {{ field }}
            </div>
        {% endfor %}
    </fieldset>
    <div class="submit">
        <input type="submit" value="Send Password" />
    </div>
</form>
</div>
{% endblock %}
