{% extends 'profiles/profile_base.html' %}

{% block title %}Profile Setup | RecogType{% endblock %}

{% block profile_content %}

<div class="grid_8 push_1">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
    <legend class="base_text">Edit Profile</legend>
    {% for field in form %}
        <div class="form_row base_text">
            <div class="label">
                <label for="{{ field.name }}">{{ field.label }}:</label>
            </div>
            <div class="input">
                {{ field }}
            </div>
        </div>
    {% endfor %}
        <div class="submit form_row">
            <input type="submit" value="Save Changes" />
        </div>
    </fieldset>
</form>
</div>

{% endblock profile_content %}
