{% extends 'profiles/profile_base.html' %}

{% block title %}Profile Setup{% endblock %}

{% block profile_content %}

<div class="grid_7">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form_row">
        {% if field.name == 'mugshot' %}
            <!-- <div class="file_input">
                <label>Profile Picture</label>{{ field }}
            </div> -->       
        {% else %}        
            <div class="label">
                <label for="{{ field.name }}"><span>{{ field.label }}</span></label>
            </div>
            {{ field }}
        {% endif %}
        </div>
    {% endfor %}
        <div class="submit form_row">
            <input type="submit" value="Save Changes" />
        </div>
</form>
</div>

{% endblock profile_content %}
