{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}
{% block scripts %}
<script src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery-ui-1.8.21.min.js"></script>
<script type="text/javascript">
// Opens Terms and Services page in overlay window    
$().ready(function() { 
	$(document).ready(function() {
		$('#signupForm a').each(function() {
			var $link = $(this);
			var $dialog = $('<div id="terms" class="dialog"></div>')
				.load($link.attr('href') + ' .bod')
				.dialog({
					autoOpen: false,
					title: "Terms and Conditions",
                    width: 600,
                    height: 400,
                    modal: true,
                    resizable: false,
                    buttons: [
                                {
                                    text: "OK",
                                    click: function() {
                                                        $(this).dialog("close");
                                                      }
                                }
                              ]
				});

			$link.click(function() {
				$dialog.dialog('open');

				return false;
			});
		});
	});
});
</script>
<script type="text/javascript">
$().ready(function() {
    // Validates the signup form
    $("#signupForm").validate({
        rules: {
            email: {
                required: true,
                email: true
            },
            password1: { 
                required: true,
                minlength: 6
            },
            password2: {
                required: true,
                minlength: 6,
                equalTo: "#id_password1"
            },
            terms_services: {
                required: true
            }
        },
        messages: {
            email:   "Please enter a valid email address",
            password1: {
                required: "You cannot leave this field blank",
                minlength: "Your password must be at least 6 \
                            characters long",
            },
            password2: {
                required: "You cannot leave this field blank",
                minlength: "Your password must be at least 6 \
                            characters long",
                equalTo: "Your passwords do not match."
            },
            terms_services: "You must accept our terms"
        }
    });
});
</script>

{% endblock scripts %}
{% block content %}

<div class="grid_7 push_3">
<form id="signupForm" action="" method="post"> 
    <h3>Sign Up For an Account</h3>
    {% csrf_token %}
        {% for field in form %}
        <div class="form_row">
        {{ field.errors }}
        {% comment %} Displaying checkboxes differently {% endcomment %}
        {% if field.name == 'tos' %}
            <p class="checkbox">
            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
            </p>
        {% else %}
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        {% endif %}
        </div>
    {% endfor %}
    <div class="form_row">
        <input id="terms_services" type="checkbox" name="terms_services" />
        <label for="terms_services" class="check">
            <a id="ts_link" href="/terms-and-conditions/">Terms and Conditions</a>
        </label>
    </div>
    <input type="submit" class="button" value="Signup" />
</form>
</div>
{% endblock %}
