{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}
{% block scripts %}
<script src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery-ui-1.8.21.min.js"></script>
<script src="{{ STATIC_URL }}javascript/extras/terms_and_services.js" 
        type="text/javascript">
</script>
<script src="{{ STATIC_URL }}javascript/validate/signup_form.js" 
        type="text/javascript"></script>

{% endblock scripts %}
{% block content %}

<div class="grid_7">
<form id="signupForm" action="" method="post"> 
    <h3>Sign Up For an Account</h3>
    {% csrf_token %}
        {% for field in form %}
        <div class="form_row">
        {{ field.errors }}
        {% comment %} Displaying checkboxes differently {% endcomment %}
        {% if field.name == 'tos' %}
            <p class="checkbox">
            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
            </p>
        {% else %}
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        {% endif %}
        </div>
    {% endfor %}
    <div class="form_row">
        <input id="terms_services" type="checkbox" name="terms_services" />
    </div>
    <span id="ts_link">Click to accept  <a href="/terms-and-conditions/">Terms and Conditions</a>.</span>
    <input type="submit" class="button" value="Signup" />
</form>
</div>
{% endblock %}
