<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock title %} | RecogType</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.21.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
    <script src="{{ STATIC_URL }}javascript/jquery-1.7.2.js"></script>
    {% block scripts %}
	{% endblock scripts %}
</head>
<body>
<div id="header">
    <div id="head_container" class="container_12">
        <div id="logo_container" class="grid_3">
            <a href="/">
                <img id="header_logo" src="{{ STATIC_URL }}img/recogtype_logo_main.jpg" />
            </a>
        </div>
        <div id="nav" class="grid_9">
            <div id="links" class="base_text horizontal">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/faqs/">FAQs</a></li>
                    <li><a href="/about/">About</a></li>
                </ul>
            </div> <!-- End Links -->
            <div id="session_status" class="base_text horizontal">
                {% if user.is_authenticated %}
                    <ul>
                        <li>{{ user.email }} | not you?</li>
                        <li><a href="/signout">Signout</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/signin">Signin</a></li>
                    </ul>
                {% endif %}
            </div> <!-- end #session_status -->
        </div><!-- end #nav -->
        <div id="message_bar" class="grid_9 push_3">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div><!-- end #messages -->
    </div><!-- end head_container -->    
</div><!-- end header -->

<div id="content" class="container_12">
{% if user.username %}
<div class="grid_3">
<div id="local_nav">
    <ul class="menu">
        <li class="item1"><a href="#">Dashboard<!-- <span>11</span> --></a>
            <ul>
                <li class="subitem1">
                <a href="{% url guide_user user.username %}">Dashboard Home</a></li>
                <li class="subitem2">
                {% if request.session.train_lock %}
                    <a href="#" class="disabled">Train System <span class="lock">Locked</span></a>
                {% else %}
                    <a href="{% url match_template user.username %}">Train System </a>
                {% endif %}
                </li>
                <li class="subitem3">
                <a href="#">Challenge System </a></li>
            </ul>
        </li>
        <li class="item2"><a href="#">Profile
                    {% if request.session.profile_count != 0 %}
                    <span>{{ request.session.profile_count }}</span>
                    {% endif %}</a>
            <ul>
                <li class="subitem1">
                <a href="{% url userena_profile_detail user.username %}">Profile Home
                    </a></li>
                <li class="subitem2">
                <a href="{% url userena_profile_edit user.username %}">Update Details
                    {% if request.session.profile_count != 0 %}
                    <span>{{ request.session.profile_count }}</span>
                    {% endif %}</a></li>
                <li class="subitem3">
                <a href="{% url userena_password_change user.username %}">Change Password</a></li>
                <li class="subitem4">
                <a href="{% url userena_email_change user.username %}">Change Email</a></li>
            </ul>
        </li>
        <li class="item3"><a href="#">Help</a>
            <ul>
            </ul>
        </li>
    </ul>
</div>
</div>
{% endif %}
{% block content %}{% endblock content %}
</div>
<div id="footer">
<nav class="container_12">
    <div class="base_text horizontal grid_12">
        <ul>
            <li><a href="/disclaimer/">Disclaimer</a></li>
            <li><a href="/copyright/">Copyright</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
        </ul>
    </div> <!-- end footer -->
</nav>
</div>
<script type="text/javascript">
// Message bar animation code
$(function() {
    var message_bar = $('#header #message_bar');

    if($('#message_bar').html().trim()) {
        message_bar.show();
    }  
});  

// Vertical nav code
$(function() {
 
    var menu_ul = $('.menu > li > ul'),
        menu_a  = $('.menu > li > a');
     
    menu_ul.hide();
 
    menu_a.click(function(e) {
        e.preventDefault();
        if(!$(this).hasClass('active')) {
            menu_a.removeClass('active');
            menu_ul.filter(':visible').slideUp('normal');
            $(this).addClass('active').next().stop(true,true).slideDown('normal');
        } else {
            $(this).removeClass('active');
            $(this).next().stop(true,true).slideUp('normal');
        }
    });
 
});
</script>
</body>
</html>
