<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	{% endblock styles %}
</head>
<body>
<div id="header" class="container_12">
    <div id="icon" class="grid_2">
        <a href="/">RecogType</a>
        <em class="base_text">Security at your fingertips</em>
    </div>
    <div id="nav" class="grid_10">
        <div id="links" class="base_text horizontal">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div id="session_status">
            <div class="base_text horizontal">
            {% if user.is_authenticated %}
                <ul>
                    <li>{{ user.email }} | not you?</li>
                    <li><a href="/signout">Signout</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/signin">Signin</a></li>
                </ul>
            {% endif %}
            </div>
        </div>
    </div><!-- end #nav -->
</div><!-- end header -->

<div id="content" class="container_12">
    {% block content %}{% endblock content %}
</div>

<div class="container_12">
    <div id="footer" class="grid_12">
        {% block footer %}{% endblock footer %}
    </div>
</div>

</body>
</html>
