{% extends 'recogmatch/dashboard.html' %}

{% block title %}Typing Challenge | RecogType{% endblock title %}

{% block recogmatch_content %}
<div class="grid_8 push_1 container">
    
<h2>{{ challenge.title }}</h2>
{{ challenge.body|safe }}
<hr />

<form id="raw_data_form">
    {% csrf_token %}
    <textarea id="raw_data" form="raw_data_form" autofocus="autofocus" 
        placeholder="Type the Text Above" cols=60 rows=5></textarea>
    <br />
    <br />
    <label id="message"></label>
    <p><input type="submit" value="Submit" /></p>
</form>

</div>
<script src="http://api.jquery.com/scripts/events.js"></script>
<script>
    var data = []
    
    function keyObj(val_press, press_code, val_up, up_code, down, press, up) {
        this.down = down;
        this.press = press;
        this.up = up;
        this.val_press = val_press;
        this.press_code = press_code;
        this.val_up = val_up
        this.up_code = up_code
    }
    $('#raw_data').keydown(function(event) {
        if (event.which != 16 && event.which != 17 && event.which != 18) {
            down = event.timeStamp;
        }
    });
    $('#raw_data').keypress(function(event) { 
        if (event.which != 16 && event.which != 17 && event.which != 18) {
            val_press = String.fromCharCode(event.which);
            press_code = event.which;
            press = event.timeStamp;
        }
    });
    $('#raw_data').keyup(function(event) {
        if (event.which != 16 && event.which != 17 && event.which != 18) {
            up = event.timeStamp;
            val_up = String.fromCharCode(event.which);
            up_code = event.which;
            data.push(new keyObj(val_press, press_code, val_up, up_code, down,press,up));
        }
    });
    $('#raw_data_form').submit(function() {
        raw_data = {}
        raw_data.data = JSON.stringify(data);
        $.post("{% url match_submit user.username challenge.id %}",
               raw_data,
               function(responseData) {
                   $('#message').html("Sent!");
               }
        ); 

        return false;
    });
</script>
{% endblock recogmatch_content %}
