{% extends 'recogmatch/dashboard.html' %}

{% block title %}
    Typing Challenge {{ challenge.title }}
{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.browser.js">
</script>
<script src="{{ STATIC_URL }}javascript/jquery.validate.js"></script>
<script type="text/javascript">
    var match_submit = "{% url match_submit user.username challenge.id %}";
    var guide_user = "{% url guide_user user.username %}";
</script>
<script src="{{ STATIC_URL }}javascript/animation/challenge_template.js" 
        type="text/javascript"></script>
<script src="{{ STATIC_URL }}javascript/validate/challenge_template.js" 
        type="text/javascript"></script>
{% endblock scripts %}

{% block recogmatch_content %}
    
<div class="grid_9 container">
<h2>{{ challenge.title }}</h2>
{% with user.first_name as user %}
    {% include template_path %}
{% endwith %}
<a id="instructions_expand" href="#">Challenge Instructions [+]</a>
<p id="challenge_instructions">
    {{ challenge.instructions|linenumbers|linebreaksbr }}
</p>

<hr />

<form id="raw_data_form" method="post">
    {% csrf_token %}
    {% for field in data_form %}
        <p>{{ field.errors }}</p>
        <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
    {% endfor %}
    <input type="submit" class="button" value="Submit" />
</form>
</div>

<script src="{{ STATIC_URL }}javascript/extras/raw_input.js" 
        type="text/javascript"></script>
{% endblock recogmatch_content %}
