{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
{% block recogmatch_content %}
<div class="grid_8 push_1">
    <h3>Mandatory Tasks:</h3>
    </br>
    {% for key, val in mandatory.items %}
        <p>Update your profile with your {{ key }}.</p>
    {% endfor %}
    {% if bio_template %}
        <p>Train the system by creating your biometric template.</p>
    {% endif %}
    <br /><br />
    <h3>Suggested Tasks:</h3>
    <br />
    {% for key, val in suggested.items %}
        <p>Update your profile with your {{ key }}.</p>
    {% endfor %}
</div> 
{% endblock recogmatch_content %}
{% endblock content %}
