The color of grass is green.<br />
The color of the sky is blue.<br /> 
Hearts, both in and out are red.<br />
A first place medal is gold.<br />
Yellow flower, that's for you<br />
And I get chocolate, it is brown.<br />
Over time we are young, then turn old.<br />
By the time we are eighteen, we may already have many debts.<br />
For most new dollars pay for interest on old.<br />
Was she his or was he hers?<br />
At what point is it said that it is too late?<br />
Which one will be found in public?<br />
May today be the day!<br />
When and where can I meet you in your country?<br />
But I may still have interest there!<br />
